<footer class="navbar fixed-bottom navbar-expand navbar-light bg-light-my" id="footer" xmlns:th="http://www.w3.org/1999/xhtml">

    <!-- Links -->
    <div class="collapse navbar-collapse" id="nav-content">

        <th:block sec:authorize="isAuthenticated()">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item mr-auto dropup">
                    <a class="nav-link dropdown-toggle" href="javascript:void(0);" id="languageDropdown" role="button"
                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <img style="width: 20px;" th:src="@{/img/language-dark.png}"/>
                        <th:block th:text="#{'lang.' + ${language.value}}"/>
                    </a>
                    <div class="dropdown-menu"
                         aria-labelledby="languageDropdown">

                        <a href="javascript:void(0);" class="dropdown-item languageSelect"
                           th:each="lang : ${T(com.ness.movie_release_web.model.wrapper.tmdb.Language).values()}">
                            <option class="langVal"
                                    th:value="${lang}"
                                    th:text="#{'lang.' + ${lang.value}}"
                                    th:selected="${lang == language}">
                            </option>
                        </a>
                    </div>
                </li>

                <li class="nav-item mr-auto dropup">
                    <a class="nav-link dropdown-toggle" href="javascript:void(0);" id="modeDropdown" role="button"
                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <th:block th:text="#{'lang.mode.' + ${mode.name()}}"/>
                    </a>
                    <div class="dropdown-menu"
                         aria-labelledby="modeDropdown">

                        <a href="javascript:void(0);" class="dropdown-item modeSelect"
                           th:each="modd : ${T(com.ness.movie_release_web.model.wrapper.tmdb.Mode).values()}">
                            <option class="modVal"
                                    th:value="${modd}"
                                    th:text="#{'lang.mode.' + ${modd.name()}}"
                                    th:selected="${modd == mode}">
                            </option>
                        </a>
                    </div>
                </li>
            </ul>


            <ul class="navbar-nav ml-auto">

                <li class="nav-item" style="padding: 10px 15px 10px 0;">
                    <a class="footer-link"
                       th:href="${'/' + mode.name() + '/discover'}"
                       th:text="#{lang.discover_movies}"></a>
                </li>
                <li class="nav-item" style="padding: 10px 15px 10px 0;">
                    <a class="footer-link"
                       th:href="${'/' + mode.name() + '/subscriptions'}"
                       th:text="#{lang.my_subscriptions}"></a>
                </li>
                <li class="nav-item" style="padding: 10px 15px 10px 0;">
                    <a class="footer-link" th:text="#{lang.talk_to-bot}"
                       th:href="'tg://resolve?domain=' + ${@environment.getProperty('telegram.bot')}">Talk to bot</a>
                </li>
            </ul>
        </th:block>
    </div>


    <script>
        $('.languageSelect').click(function () {
                var langVal = $(this).find(".langVal").val();
                $.post("/setLanguage", {"language": langVal}, function () {
                    setTimeout(20);
                    location.reload();
                });
                $("#languageDropdown").text($(this).text());
            }
        );
        $('.modeSelect').click(function () {
                var modVal = $(this).find(".modVal").val();
                $.post("/setMode", {"mode": modVal}, function () {
                    setTimeout(20);
                    window.location = ("http://" + location.host + "/" + modVal + "/subscriptions");
                });
                $("#modeDropdown").text($(this).text());
            }
        )
    </script>
</footer>