<footer class="navbar fixed-bottom navbar-expand navbar-light bg-light-my">

    <!-- Links -->
    <div class="collapse navbar-collapse" id="nav-content">

        <ul class="navbar-nav mr-auto">
            <li class="nav-item" style="padding-right: 30px">
                <a class="btn btn-primary" href="/home">Home</a>
            </li>
        </ul>

        <th:block sec:authorize="isAuthenticated()">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item" style="padding-right: 30px">
                    <a class="btn btn-primary" href="/user/subscriptions">My subscriptions</a>
                </li>
                <li class="nav-item" style="padding-right: 30px">
                    <a class="btn btn-primary" th:href="'tg://resolve?domain=' + ${telegram}">Talk to bot</a>
                </li>
            </ul>
        </th:block>
    </div>
</footer>