<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=0.7">

    <title>Movie Notifier Service</title>

    <link href="../static/css/custom-bootstrap.css" th:href="@{/css/custom-bootstrap.css}" rel="stylesheet" />
    <link href="../static/css/my.css" th:href="@{/css/my.css}" rel="stylesheet" />

    <script src="../static/js/jquery-3.3.1.slim.min.js" th:src="@{/js/jquery-3.3.1.slim.min.js}"></script>
    <script src="../static/js/bootstrap.min.js" th:src="@{/js/bootstrap.min.js}"></script>
    <script src="../static/js/popper.min.js" th:src="@{/js/popper.min.js}"></script>
    <script src="../static/js/jquery.min.js" th:src="@{/js/jquery.min.js}"></script>

    <link href="../static/css/fonts/Roboto.css" th:href="@{/css/fonts/Roboto.css}" rel="stylesheet"/>
    <link href="../static/css/fonts/OpenSans.css" th:href="@{/css/fonts/OpenSans.css}" rel="stylesheet"/>

    <script>
        function unsubscribe(event) {

            var form = $(this);
            var tmdbId = form.find('input').val();

            $.post('/user/unSubscribe', form.serialize());

            var par = form.parent();
            par.html(
                '<form class="subsForm" action="/user/subscribe" method="post" class="subsForm">' +
                '    <input type="hidden" name="tmdbId" value="' + tmdbId + '"/>' +
                '    <input type="submit" value="Subscribe" class="btn btn-warning"/>' +
                '</form>'
            );
            var newForm = par.find(".subsForm");
            newForm.on('submit', subscribe);
            return false;
        }

        function subscribe(event) {

            var form = $(this);
            var tmdbId = form.find('input').val();

            $.post('/user/subscribe', $(this).serialize());

            var par = form.parent();
            par.html(
                '<form class="unSubsForm" action="/user/unSubscribe" method="post" class="unSubsForm">' +
                '    <input type="hidden" name="tmdbId" value="' + tmdbId + '"/>' +
                '    <input type="submit" value="Unsubscribe" class="btn btn-danger"/>' +
                '</form>'
            );
            var newForm = par.find(".unSubsForm");
            newForm.on('submit', unsubscribe);
            return false;
        }
    </script>

</head>