<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=0.7">

    <title>Movie Notifier Service</title>

    <link href="../static/css/custom-bootstrap.css" th:href="@{/css/custom-bootstrap.css}" rel="stylesheet" />
    <link href="../static/css/my.css" th:href="@{/css/my.css}" rel="stylesheet" />


    <script src="../static/js/jquery-3.3.1.slim.min.js" th:src="@{/js/jquery-3.3.1.slim.min.js}"></script>
    <script src="../static/js/bootstrap.min.js" th:src="@{/js/bootstrap.min.js}"></script>
    <script src="../static/js/popper.min.js" th:src="@{/js/popper.min.js}"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <link href="../static/css/fonts/Roboto.css" th:href="@{/css/fonts/Roboto.css}" rel="stylesheet"/>
    <link href="../static/css/fonts/OpenSans.css" th:href="@{/css/fonts/OpenSans.css}" rel="stylesheet"/>
</head>