<html xmlns:th="http://www.thymeleaf.org">
<nav class="navbar navbar-inverse navbar-static-top">
    <div class="container-fluid">
        <div class="navbar-header">

            <a href="/home" class="navbar-brand">
                <img style="width: 64px;" th:src="@{/img/logo.png}"/>
                Movie Notifier Service
            </a>

        </div>
        <div id="navbar" class="navbar-collapse collapse">

            <div th:if="${#request.isUserInRole('USER')}">
                <form method="get" class="navbar-form navbar-left" action="/user/search">

                    <div class="form-group" style="margin-right: 10px">
                        <div class="icon-addon addon-md">
                            <input type="text" style="width: 170px" name="query" placeholder="Film Name"
                                   class="form-control" th:value="${query}">
                        </div>
                    </div>
                    <div class="form-group" style="margin-right: 10px">
                        <div class="icon-addon addon-md">
                            <input type="number" step="1" min="1000" max="3000" name="year"
                                   placeholder="Year" class="form-control" th:value="${year}">
                        </div>
                    </div>
                    <input type="submit" value="Find" class="btn btn-primary">
                </form>
            </div>

            <th:block sec:authorize="isAuthenticated()">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="/userInfo">
                            <th:block th:text="${'You signed in as: ' + #request.getUserPrincipal().getName()}"/>
                            <img style="width: 20px;" th:src="@{/img/user-light.png}"/>
                        </a>
                    </li>
                    <li>
                        <a href="/logout">
                            Sign out
                            <img style="width: 20px;" th:src="@{/img/sign-out-light.png}"/>
                        </a>
                    </li>
                </ul>
            </th:block>

            <th:block sec:authorize="isAnonymous()">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="/login">
                            Sign in
                            <img style="width: 20px;" th:src="@{/img/user-light.png}"/>
                        </a>
                    </li>
                    <li>
                        <a href="/register">
                            Register
                            <img style="width: 20px;" th:src="@{/img/register-light.png}"/>
                        </a>
                    </li>
                </ul>
            </th:block>

        </div><!--/.nav-collapse -->
    </div>
</nav>