<html xmlns:th="http://www.thymeleaf.org">

<div th:fragment="pagination">

    <th:block th:if="${pageCount > 0}">
        <!-- PAGINATION -->
        <div class="container-fluid" style="padding-bottom: 60px"
             th:with="urlBuilder=${T(org.springframework.web.servlet.support.ServletUriComponentsBuilder)}, page = ${page == null ? 0 : page}">

            <div class="row" style="padding-bottom: 30px">
                <div class="col-12 col-sm-10 col-md-9 col-lg-8 col-xl-6 col-centered">
                    <div class="row">

                        <div class="col-1 col-sm-1 col-md-1 col-lg-1 col-xl-1 col-centered"></div>

                        <!-- ARROW BACK -->
                        <div class="col col-fixed-arrow my-page-link"
                             th:onclick="'location.href=\'' + ${page > 0 ? urlBuilder.fromCurrentRequest().replaceQueryParam('page', page - 1).build() : 'javascript:void(0);'} + '\''">
                            <!-- active link -->
                            <th:block th:if="${page > 0}">
                                <img class="page-arrow" th:src="@{/img/pagination/page-back.png}">
                            </th:block>

                            <!-- inactive link-->
                            <th:block th:unless="${page > 0}">
                                <img class="page-arrow" th:src="@{/img/pagination/page-back-inactive.png}">
                            </th:block>
                        </div>

                        <!--separate link to first page -->
                        <th:block th:if="${page > 1}">
                            <div class="col col-fixed-page my-page-link my-page-number"
                                 th:onclick="'location.href=\'' + ${urlBuilder.fromCurrentRequest().replaceQueryParam('page', 0).build()}  + '\''">
                                <span class="text-secondary" th:text="${1}"></span>
                            </div>

                            <div class="col my-page-splitter col-fixed-splitter">
                                <span>...</span>
                            </div>
                        </th:block>

                        <!-- pages loop -->
                        <th:block th:each="i : ${#numbers.sequence(page - 1, page + 1)}">
                            <!-- skip first-1  and last+1 pages-->
                            <th:block th:if="${i >= 0 and i <= pageCount - 1}">

                                <!-- CURRENT PAGE -->
                                <!-- my-page-current -->
                                <div class="col col-fixed-page my-page-link  my-page-current " th:if="${page == i}">
                                    <span class="text-secondary" th:text="${i + 1}"></span>
                                </div>

                                <!-- Link To Page -->
                                <div class="col col-fixed-page my-page-link my-page-number" th:unless="${page == i}"
                                     th:onclick="'location.href=\'' + ${urlBuilder.fromCurrentRequest().replaceQueryParam('page', i).build()} + '\''">
                                    <span class="text-secondary my-page-number" th:text="${i + 1}"></span>
                                </div>
                            </th:block>
                        </th:block>

                        <!--separate link to last page -->
                        <th:block th:if="${page < pageCount - 2}">
                            <div class="col my-page-splitter col-fixed-splitter">
                                <span>...</span>
                            </div>

                            <div class="col col-fixed-page my-page-link my-page-number"
                                 th:onclick="'location.href=\'' + ${urlBuilder.fromCurrentRequest().replaceQueryParam('page', pageCount - 1).build()} + '\''">
                                <span class="text-secondary" th:text="${pageCount}"></span>
                            </div>
                        </th:block>

                        <!-- ARROW FORWARD-->
                        <div class="col col-fixed-arrow my-page-link"
                             th:onclick="'location.href=\'' + ${page < pageCount - 1 ? urlBuilder.fromCurrentRequest().replaceQueryParam('page', page + 1).build() : 'javascript:void(0);'} + '\''">

                            <!-- active link -->
                            <th:block th:if="${page < pageCount - 1}">
                                <img class="page-arrow" th:src="@{/img/pagination/page-next.png}">
                            </th:block>

                            <!-- inactive link-->
                            <th:block th:unless="${page < pageCount - 1}">
                                <img class="page-arrow" th:src="@{/img/pagination/page-next-inactive.png}">
                            </th:block>
                        </div>

                        <div class="col-1 col-sm-1 col-md-1 col-lg-1 col-xl-1 col-centered"></div>
                    </div>
                </div>
            </div>
        </div>
    </th:block>

</div>