<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="embeded/header.html :: header(~{::title})">
    <title th:text="#{lang.login_input_placeholder}"></title>
</head>
<body>
<nav th:insert="embeded/navbar.html"></nav>

<div class="container" style="margin-top: 80px">
    <div class="row" style="text-align: center">
        <div class="col-1 col-sm-1">
        </div>
        <div class="col-11 col-sm-11 col-md-8 col-lg-7 col-xl-6 col-centered">
            <div class="row">
                <div class="col-10 col-sm-10 col-md-10 col-lg-10 col-xl-10" style="text-align: center">
                    <span style="font-family: 'Roboto', sans-serif; font-weight: 100; font-size: 34px"
                          th:text="#{lang.password_change}"></span>
                </div>
            </div>
            <form th:action="@{/changePassword}" method="post" th:object="${passwordChange}">
                <div class="row">
                    <div class="col-10 col-sm-10 col-md-10 col-lg-10 col-xl-10" style="padding-bottom: 7px; text-align: center">
                        <th:block th:each="error : ${errors}">
                            <span class="error" th:text="${error}"/><br>
                        </th:block>

                        <th:block th:if="${#fields.hasErrors('password')}">
                            <span th:errors="*{password}" class="error"/><br>
                        </th:block>
                    </div>

                    <th:block th:if="${#fields.hasErrors() or (errors != null)}">
                        <div class="col-2 col-sm-2 col-md-2 col-lg-2 col-xl-2">
                            <div class="row">

                            </div>
                        </div>
                    </th:block>
                </div>

                <div class="row">
                    <div class="col-10 col-sm-10 col-md-10 col-lg-10 col-xl-10 form-group">
                        <div class="icon-addon addon-lg">
                            <input type="password" th:placeholder="#{lang.password_input_placeholder}" class="form-control"
                                   required th:field="*{oldPassword}"/>
                            <img th:src="@{/img/password-dark.png}" class="glyphicon glyphicon-search">
                        </div>
                    </div>

                    <th:block th:if="${errors != null}">
                        <div class="col-2 col-sm-2 col-md-2 col-lg-2 col-xl-2"
                             style="text-align: left; margin-left: -13px; margin-top: 10px">
                            <img class="glyphicon" th:src="@{/img/error.png}"/>
                        </div>
                    </th:block>
                </div>


                <div class="row">
                    <div class="col-10 col-sm-10 col-md-10 col-lg-10 col-xl-10 form-group">
                        <div class="icon-addon addon-lg">
                            <input type="password" th:placeholder="#{lang.new_password_input_placeholder}" class="form-control"
                                   required th:field="*{password.password}"/>
                            <img th:src="@{/img/password-dark.png}" class="glyphicon glyphicon-search">
                        </div>
                    </div>

                    <th:block th:if="${#fields.hasErrors('password')}">
                        <div class="col-2 col-sm-2 col-md-2 col-lg-2 col-xl-2"
                             style="text-align: left; margin-left: -13px; margin-top: 10px">
                            <img class="glyphicon" th:src="@{/img/error.png}"/>
                        </div>
                    </th:block>
                </div>

                <div class="row">
                    <div class="col-10 col-sm-10 col-md-10 col-lg-10 col-xl-10 form-group">
                        <div class="icon-addon addon-lg">
                            <input type="password" th:placeholder="#{lang.password_confirm_input_placeholder}" class="form-control"
                                   required th:field="*{password.matchPassword}"/>
                            <img th:src="@{/img/password-dark.png}" class="glyphicon glyphicon-search">
                        </div>
                    </div>

                    <th:block th:if="${#fields.hasErrors('password')}">
                        <div class="col-2 col-sm-2 col-md-2 col-lg-2 col-xl-2"
                             style="text-align: left; margin-left: -13px; margin-top: 10px">
                            <img class="glyphicon" th:src="@{/img/error.png}"/>
                        </div>
                    </th:block>
                </div>

                <div class="row">
                    <div class="col-10 col-sm-10 col-md-10 col-lg-10 col-xl-10 form-group">
                        <div class="row">
                            <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6 form-group" style="text-align: left">
                                <a href="/login" class="sign-up-link" th:text="#{lang.have_account}"></a>
                            </div>
                            <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6 form-group" style="text-align: right">
                                <input type="submit" id="submitButton" class="btn btn-warning" style="padding:7px 34px;"
                                       th:value="#{lang.change_password}"/>
                            </div>
                        </div>
                    </div>
                </div>
                <th:block th:if="${#fields.hasErrors() or (errors != null)}">
                    <div class="col-2 col-sm-2 col-md-2 col-lg-2 col-xl-2">
                        <div class="row">
                        </div>
                    </div>
                </th:block>
            </form>
        </div>
    </div>
</div>

<footer th:insert="embeded/footer.html"></footer>
</body>
</html>