<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sh="http://www.thymeleaf.org">
<head th:insert="embeded/header.html"></head>
<body>
<nav th:insert="embeded/navbar.html"></nav>

<div class="container-fluid">


    <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample"
            aria-expanded="false" aria-controls="collapseExample">
        Button with data-target
    </button>
    <div class="collapse" id="collapseExample">

        <div class="col-11 col-sm-11 col-md-8 col-lg-7 col-xl-6 col-centered">
            <form action="/user/discover" method="get" th:object="${criteria}">
                <div class="row">

                    <div class="col-8 col-sm-8 col-md-8 col-lg-8 col-xl-8">
                        <label>Genres:</label>
                        <select class="form-control selectpicker" th:field="*{genres}" multiple data-live-search="true">
                            <option th:each="genre : ${genres}"
                                    th:value="${genre.id}"
                                    th:text="${genre.name}"
                                    th:selected="${criteria.getGenres().contains(genre.id)}">
                            </option>
                        </select>
                    </div>

                    <div class="col-4 col-sm-4 col-md-4 col-lg-4 col-xl-4">
                        <label>Genres mode:</label>
                        <div class="row">
                            <div class="col-1 col-sm-1 col-md-1 col-lg-1 col-xl-1">
                                <input type="radio" class="option-input radio" th:field="*{genresAnd}"
                                       th:value="${false}">
                            </div>
                            <div class="col-4 col-sm-4 col-md-4 col-lg-4 col-xl-4">
                                OR
                            </div>

                            <div class="col-1 col-sm-1 col-md-1 col-lg-1 col-xl-1">
                                <input type="radio" class="option-input radio" th:field="*{genresAnd}"
                                       th:value="${true}">
                            </div>
                            <div class="col-4 col-sm-4 col-md-4 col-lg-4 col-xl-4">
                                AND
                            </div>
                        </div>
                    </div>
                </div>


                <div class="row">
                    <div class="col-8 col-sm-8 col-md-8 col-lg-8 col-xl-8">
                        <label>Release types:</label>
                        <select class="form-control selectpicker" th:field="*{releaseTypes}" multiple
                                data-live-search="true">
                            <option th:each="release : ${T(com.ness.movie_release_web.model.wrapper.tmdb.releaseDates.ReleaseType).values()}"
                                    th:if="${release.ordinal() != 0}"
                                    th:value="${release}"
                                    th:text="${release.name()}"
                                    th:selected="${criteria.getReleaseTypes().contains(release)}">
                            </option>
                        </select>
                    </div>

                    <div class="col-4 col-sm-4 col-md-4 col-lg-4 col-xl-4">
                        <label>Release types mode:</label>
                        <div class="row">
                            <div class="col-1 col-sm-1 col-md-1 col-lg-1 col-xl-1">
                                <input type="radio" class="option-input radio" th:field="*{releaseTypeAnd}"
                                       th:value="${false}">
                            </div>
                            <div class="col-4 col-sm-4 col-md-4 col-lg-4 col-xl-4">
                                OR
                            </div>

                            <div class="col-1 col-sm-1 col-md-1 col-lg-1 col-xl-1">
                                <input type="radio" class="option-input radio" th:field="*{releaseTypeAnd}"
                                       th:value="${true}">
                            </div>
                            <div class="col-4 col-sm-4 col-md-4 col-lg-4 col-xl-4">
                                AND
                            </div>
                        </div>
                    </div>
                </div>


                <div class="row">
                    <div class="col-8 col-sm-8 col-md-8 col-lg-8 col-xl-8">
                        <label>Companies:</label>
                        <select class="form-control selectpicker" id="companyselectpicker" th:field="*{companies}"
                                multiple
                                data-live-search="true">
                            <option th:each="company : ${companies}"
                                    th:value="${company.id}"
                                    th:text="${company.name}" selected>
                            </option>
                        </select>
                    </div>

                    <div class="col-4 col-sm-4 col-md-4 col-lg-4 col-xl-4">
                        <label>Companies mode:</label>
                        <div class="row">
                            <div class="col-1 col-sm-1 col-md-1 col-lg-1 col-xl-1">
                                <input type="radio" class="option-input radio" th:field="*{companiesAnd}"
                                       th:value="${false}">
                            </div>
                            <div class="col-4 col-sm-4 col-md-4 col-lg-4 col-xl-4">
                                OR
                            </div>

                            <div class="col-1 col-sm-1 col-md-1 col-lg-1 col-xl-1">

                                <input type="radio" class="option-input radio" th:field="*{companiesAnd}"
                                       th:value="${true}">
                            </div>
                            <div class="col-4 col-sm-4 col-md-4 col-lg-4 col-xl-4">
                                AND
                            </div>

                        </div>
                    </div>
                </div>


                <div class="row">
                    <div class="col-8 col-sm-8 col-md-8 col-lg-8 col-xl-8">
                        <label>Sort by:</label>
                        <select th:field="*{sortBy}" class="form-control">
                            <option th:each="sort : ${T(com.ness.movie_release_web.model.wrapper.tmdb.movie.discover.SortBy).values()}"
                                    th:value="${sort}"
                                    th:text="${sort.getDisplayString()}"
                                    th:selected="${criteria.getSortBy().equals(sort)}">
                            </option>
                        </select>
                    </div>
                </div>


                <div class="row">
                    <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6">
                        <label>Min Release date:</label>
                        <input type="date" th:field="*{releaseDateMin}" th:value="${criteria.getReleaseDateMin()}"
                               class="form-control">
                    </div>

                    <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6">
                        <label>Max Release date:</label>
                        <input type="date" th:field="*{releaseDateMax}" th:value="${criteria.getReleaseDateMax()}"
                               class="form-control">
                    </div>
                </div>

                <div class="row">
                    <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6">
                        <label>Min User Score:</label>
                        <input type="number" min="0" max="10" step="0.1" th:field="*{voteAverageMin}" th:value="${criteria.getVoteAverageMin()}"
                               class="form-control">
                    </div>
                    <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6">

                        <label>Max User Score:</label>
                        <input type="number" min="0" max="10" step="0.1" th:field="*{voteAverageMax}" th:value="${criteria.getVoteAverageMax()}"
                               class="form-control">
                    </div>
                </div>
                <input type="submit" class="btn btn-primary" value="Discover">

            </form>
        </div>
    </div>

    <div class="container-fluid">
        <div class="row">
            <th:block th:each="film, iStat : ${films}">

                <th:block th:if="${iStat.index % 5 == 0}">
                    <div class="offset-xl-1"></div>
                </th:block>
                <th:block th:if="${iStat.index > 0 && iStat.index % 5 == 0}">
                    <div class="offset-xl-1"></div>
                </th:block>

                <div class="col-xs-6 col-sm-5 col-md-4 col-lg-3 col-xl-2"
                     th:id="${film.key.id}"
                     style="text-align: center; font-weight: bold; padding-bottom: 40px; padding-top: 40px;">
                    <div class="row" style="padding-bottom: 6px; height: 320px">
                        <div class="col-xl-12">
                            <a th:href="'/user/getFilm?tmdbId=' + ${film.key.id}">
                                <img class="rounded"
                                     th:onerror="'this.src=\'' + @{/img/no-image.png} + '\'; this.onerror=null'"
                                     th:src="${film.key.posterPath}" style="height: 300px; max-width: 230px">
                            </a>
                        </div>
                    </div>
                    <div class="row" style="min-height: 70px; padding-bottom: 12px">
                        <div class="col-xl-12">
                            <a th:href="'/user/getFilm?tmdbId=' + ${film.key.id}"
                               style="color: #555555; text-decoration: none;">
                                <span th:text="${film.key.title} + ' (' + ${film.key.releaseDate.getYear()} + ')'"></span>
                            </a>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xl-12">
                            <form th:if="${film.value}" action="/user/unSubscribe" method="post" class="unSubsForm">
                                <input type="hidden" name="tmdbId" th:value="${film.key.id}"/>
                                <input type="submit" th:value="#{lang.unbscribe}" class="btn btn-danger"/>
                            </form>

                            <form th:unless="${film.value}" action="/user/subscribe" method="post" class="subsForm">
                                <input type="hidden" name="tmdbId" th:value="${film.key.id}"/>
                                <input type="submit" th:value="#{lang.subscribe}" class="btn btn-warning"/>
                            </form>
                        </div>
                    </div>
                </div>
            </th:block>
        </div>
    </div>


    <th:block th:if="${pageCount > 0}">

        <!-- PAGINATION -->
        <div class="container-fluid" style="padding-bottom: 60px"
             th:with="urlBuilder=${T(org.springframework.web.servlet.support.ServletUriComponentsBuilder)}, page = ${page == null ? 1 : page}">
            <div class="row">
                <div class="col-12 col-sm-10 col-md-9 col-lg-8 col-xl-6 col-centered">
                    <div class="row">

                        <div class="col-1 col-sm-1 col-md-1 col-lg-1 col-xl-1 col-centered"></div>

                        <!-- ARROW BACK -->
                        <div class="col col-fixed-arrow my-page-link">
                            <!-- active link -->
                            <th:block th:if="${page > 1}">
                                <a th:href="${urlBuilder.fromCurrentRequest().replaceQueryParam('page', page - 1).toUriString()}">
                                    <img class="page-arrow" th:src="@{/img/pagination/page-back.png}">
                                </a>
                            </th:block>

                            <!-- inactive link-->
                            <th:block th:unless="${page > 1}">
                                <a style="pointer-events: none">
                                    <img class="page-arrow" th:src="@{/img/pagination/page-back-inactive.png}">
                                </a>
                            </th:block>
                        </div>

                        <!--separate link to first page -->
                        <th:block th:if="${page > 2}">
                            <div class="col col-fixed-page my-page-link my-page-number">
                                <a class="text-secondary"
                                   th:href="${urlBuilder.fromCurrentRequest().replaceQueryParam('page', 1).toUriString()}"
                                   th:text="${1}"></a>
                            </div>

                            <div class="col my-page-splitter col-fixed-splitter">
                                <span>...</span>
                            </div>
                        </th:block>

                        <!-- pages loop -->
                        <th:block th:each="i : ${#numbers.sequence(page - 1, page + 1)}">
                            <!-- skip first-1  and last+1 pages-->
                            <th:block th:if="${i >= 1 and i <= pageCount}">

                                <!-- CURRENT PAGE -->
                                <!-- my-page-current -->
                                <div class="col col-fixed-page my-page-link  my-page-current " th:if="${page == i}">
                                    <a class="text-secondary" th:href="'#'" th:text="${i}"></a>
                                </div>

                                <!-- Link To Page -->
                                <div class="col col-fixed-page my-page-link my-page-number" th:unless="${page == i}">
                                    <a class="text-secondary my-page-number"
                                       th:href="${urlBuilder.fromCurrentRequest().replaceQueryParam('page', i).toUriString()}"
                                       th:text="${i}"></a>
                                </div>
                            </th:block>
                        </th:block>

                        <!--separate link to last page -->
                        <th:block th:if="${page < pageCount - 1}">
                            <div class="col my-page-splitter col-fixed-splitter">
                                <span>...</span>
                            </div>

                            <div class="col col-fixed-page my-page-link my-page-number">
                                <a class="text-secondary"
                                   th:href="${urlBuilder.fromCurrentRequest().replaceQueryParam('page', pageCount).toUriString()}"
                                   th:text="${pageCount}"></a>
                            </div>
                        </th:block>

                        <!-- ARROW FORWARD-->
                        <div class="col col-fixed-arrow my-page-link">
                            <!-- active link -->
                            <th:block th:if="${page < pageCount}">
                                <a th:href="${urlBuilder.fromCurrentRequest().replaceQueryParam('page', page + 1).toUriString()}">
                                    <img class="page-arrow" th:src="@{/img/pagination/page-next.png}">
                                </a>
                            </th:block>

                            <!-- inactive link-->
                            <th:block th:unless="${page < pageCount}">
                                <a style="pointer-events: none">
                                    <img class="page-arrow" th:src="@{/img/pagination/page-next-inactive.png}">
                                </a>
                            </th:block>
                        </div>

                        <div class="col-1 col-sm-1 col-md-1 col-lg-1 col-xl-1 col-centered"></div>
                    </div>
                </div>
            </div>
        </div>
    </th:block>

    <div class="back-to-top" style="display: inline;">
        <a style="pointer-events: none">
            <img th:src="@{/img/scroll-up-button.png}">
        </a>
    </div>

</div>
<footer th:insert="embeded/footer.html"></footer>
<script>
    $(".subsForm").submit(subscribe);
    $(".unSubsForm").submit(unsubscribe);
    $(document).ready(function () {
        $('.selectpicker').selectpicker();
        $('#companyselectpicker').selectpicker().ajaxSelectPicker({

            ajax: {
                url: '/user/searchForCompany',
                type: 'GET',
                dataType: 'json',

                // Use "{{{q}}}" as a placeholder and Ajax Bootstrap Select will
                // automatically replace it with the value of the search query.
                data: {
                    query: '{{{q}}}'
                }
            },

            // function to preprocess JSON data
            preprocessData: function (data) {
                var dataList = data.results;
                var i, l = dataList.length, array = [];
                if (l) {
                    for (i = 0; i < l; i++) {
                        array.push($.extend(true, dataList[i], {
                            text: dataList[i].name,
                            value: dataList[i].id,
                            'data-thumbnail': dataList[i].logo_path,
                        }));
                    }
                }
                // You must always return a valid array when processing data. The
                // data argument passed is a clone and cannot be modified directly.
                return array;
            }
        });

        $('#companyselectpicker').trigger('change').data('AjaxBootstrapSelect').list.cache = {}
    })
</script>
</body>
</html>