<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:insert="embeded/header.html"></head>
<body>
<nav th:insert="embeded/navbar.html"></nav>

<div class="container-fluid mytext" style="padding-top: 30px">
    <div class="row">
        <div class="col-10 col-sm-6 col-md-5 col-lg-4 col-xl-3" style="text-align: right">
            <div style="text-align: center; display: inline-block;">
                <img th:src="${film.poster}" style="height: 400px" class="img-rounded">

                <p style="margin-bottom: 12px; margin-top: 16px;"> Metascore:
                    <b th:if="${film.metascore > 60}"
                       style="color: #33CC00"
                       th:text="${film.metascore}"/>

                    <b th:if="${film.metascore < 40}"
                       style="color: #FD0100"
                       th:text="${film.metascore}"/>


                    <b th:if="${film.metascore >= 40 and film.metascore <= 60}"
                       style="color: #E1AC00"
                       th:text="${film.metascore}"/>

                    Imdb Rating:
                    <b th:if="${film.imdbRating > 6}"
                       style="color: #33CC00"
                       th:text="${film.imdbRating}"/>

                    <b th:if="${film.imdbRating < 4}"
                       style="color: #FD0100"
                       th:text="${film.imdbRating}"/>


                    <b th:if="${film.imdbRating >= 4 and film.metascore <= 6}"
                       style="color: #E1AC00"
                       th:text="${film.imdbRating}"/>
                </p>

                <form th:if="${subscribed}" action="/user/unSubscribe" method="post">
                    <input type="hidden" name="imdbId" th:value="${film.imdbId}"/>
                    <input type="submit" value="Unsubscribe" class="btn btn-success"/>
                </form>

                <form th:unless="${subscribed}" action="/user/subscribe" method="post" style="padding-bottom: 15px">
                    <input type="hidden" name="imdbId" th:value="${film.imdbId}"/>
                    <input type="submit" value="Subscribe" class="btn btn-primary"/>
                </form>
            </div>
        </div>

        <div class="col-12 col-sm-6 col-md-6 col-lg-8 col-xl-7">
            <div class="row">
                <div class="col-md-8">
                    <div style="font-size: 27px;">
                        <b th:text="${film.title} + ' (' + ${film.year} + ')'"/>
                    </div>
                </div>
            </div>
            <div class="row" style="font-size: 12px; height: 32px; vertical-align: center; padding-top: 4px">
                <div class="col-2 col-sm-2 col-md-2 col-lg-1 col-xl-1">
                    <div class="plate">
                        <p class="plate-text" th:text="${film.rated}"/>
                    </div>
                </div>
                <div class="col-2 col-sm-3 col-md-2 col-lg-1 col-xl-1">
                    <div class="plate">
                        <p class="plate-text" th:text="${#strings.capitalize(film.type)}"/>
                    </div>
                </div>
                <div class="col-3 col-sm-4 col-md-3 col-lg-2 col-xl-2" style="text-align: center;padding: 0; width: 86px">
                    <img style="width: 16px; margin-right: 3px" th:src="@{/img/clock.png}"/>
                    <span class="plate-text" th:text="${film.runtime}"/>
                </div>
                <div class="col-2 col-sm-3 col-md-2 col-lg-2 col-xl-2" style="padding: 0">
                    <a class="plate-text site" style="color: #337ab7;" th:href="${film.website}"> Website </a>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="filmPropSpaces">
                        Genres:
                        <th:block th:text="${film.genres}"/>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <div class="filmPropSpaces">
                        Director:
                        <th:block th:text="${film.director}"/>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <div class="filmPropSpaces">
                        Production:
                        <th:block th:text="${film.production}"/>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <div class="filmPropSpaces">
                        Country:
                        <th:block th:text="${film.country}"/>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <div class="filmPropSpaces">
                        Language:
                        <th:block th:text="${film.language}"/>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <div class="filmPropSpaces">
                        Released:
                        <th:block th:text="${film.releasedString}"/>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <div class="filmPropSpaces">
                        DVD Release Date:
                        <th:block th:text="${film.dvdString}"/>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <div class="filmPropSpaces">
                        Writers:
                        <th:block th:text="${film.writers}"/>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <div class="filmPropSpaces">
                        Actors:
                        <th:block th:text="${film.actors}"/>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <div class="filmPropSpaces">
                        Plot:
                        <th:block th:text="${film.plot}"/>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>


</body>
</html>