<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:insert="embeded/header.html"></head>
<body>
<nav th:insert="embeded/navbar.html"></nav>

<div class="container-fluid mytext" style="padding-top: 30px">
    <div class="row">
        <div class="col-10 col-sm-6 col-md-5 col-lg-4 col-xl-3" style="text-align: right">
            <div style="text-align: center; display: inline-block;">
                <img th:src="${film.posterPath}" style="height: 400px; max-width: 300px" class="rounded"
                     th:onerror="'this.src=\'' + @{/img/no-image.png} + '\'; this.onerror=null'">

                <p style="margin-bottom: 12px; margin-top: 16px;"> User Score:
                    <b th:if="${film.voteAverage > 6}"
                       style="color: #33CC00"
                       th:text="${film.voteAverage}"/>

                    <b th:if="${film.voteAverage < 4}"
                       style="color: #FD0100"
                       th:text="${film.voteAverage}"/>


                    <b th:if="${film.voteAverage >= 4 and film.voteAverage <= 6}"
                       style="color: #E1AC00"
                       th:text="${film.voteAverage}"/>
                </p>

                <div>
                    <form th:if="${subscribed}" action="/user/unSubscribe" method="post" class="subsForm">
                        <input type="hidden" name="tmdbId" th:value="${film.id}"/>
                        <input type="submit" value="Unsubscribe" class="btn btn-danger"/>
                    </form>
                </div>

                <div>
                    <form th:unless="${subscribed}" action="/user/subscribe" method="post" class="unSubsForm">
                        <input type="hidden" name="tmdbId" th:value="${film.id}"/>
                        <input type="submit" value="Subscribe" class="btn btn-warning"/>
                    </form>
                </div>
            </div>
        </div>

        <div class="col-12 col-sm-6 col-md-6 col-lg-8 col-xl-7">
            <div class="row">
                <div class="col-md-8">
                    <div style="font-size: 27px;">
                        <b th:text="${film.title} + ' (' + ${film.releaseDate.getYear()} + ')'"/>
                    </div>
                </div>
            </div>
            <div class="row" style="font-size: 12px; height: 32px; vertical-align: center; padding-top: 4px">
                <div class="col-auto col-sm-auto col-md-auto col-lg-auto col-xl-auto">
                    <div class="plate">
                        <span class="plate-text" th:text="${#strings.capitalize(film.status)}"/>
                    </div>
                </div>

                <div class="col-auto col-sm-auto col-md-auto col-lg-auto col-xl-auto">
                    <div class="plate">
                        <p class="plate-text" th:text="${#strings.capitalize(film.originalLanguage)}"/>
                    </div>
                </div>

                <div class="col-auto col-sm-auto col-md-auto col-lg-auto col-xl-auto"
                     style="text-align: center; max-width: 100px">
                    <img style="width: 16px; margin-right: 3px" th:src="@{/img/clock.png}"/>
                    <span class="plate-text" th:text="${film.runtime +' min'}"/>
                </div>
                <div class="col-auto col-sm-auto col-md-auto col-lg-auto col-xl-auto" style="padding: 0">
                    <a class="plate-text site" style="color: #337ab7;" th:href="${film.homepage}"> Website </a>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <div class="filmPropSpaces">
                        <b>Tagline:</b>
                        <th:block th:text="${film.tagline}"/>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <div class="filmPropSpaces">
                        <b>Genres:</b>
                        <!--<th:block th:text="${film.genres}"/>-->
                        <th:block th:each="genre: ${film.genres}">
                            <a th:text="${genre.name}" th:href="${'/user/byGenres?genre=' + genre.id + '&page=1'}"></a>
                        </th:block>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <div class="filmPropSpaces">
                        <b>Production:</b>

                        <th:block th:each="production: ${film.productionCompanies}">
                            <span th:text="${production.name}"></span>
                        </th:block>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <div class="filmPropSpaces">
                        <b>Countries:</b>
                        <th:block th:each="country: ${film.productionCountries}">
                            <span th:text="${country.name}"></span>
                            <span> </span>
                        </th:block>
                    </div>
                </div>
            </div>

            <th:block th:each="release: ${releases}">
                <div class="row">
                    <div class="col-md-12">
                        <div class="filmPropSpaces">
                            <b><th:block th:text="${release.releaseType.name()}"/>
                            Release Date:</b>
                            <th:block th:text='${#temporals.format(release.releaseDate, "dd MMMM yyyy")}'/>
                        </div>
                    </div>
                </div>
            </th:block>

            <div class="row">
                <div class="col-md-12">
                    <div class="filmPropSpaces">
                        <b>Budget:</b>
                        <th:block th:text="${'$' + #numbers.formatDecimal(film.budget, 0, 'COMMA', 2, 'POINT')}"/>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <div class="filmPropSpaces">
                        <b>Revenue:</b>
                        <th:block th:text="${'$' + #numbers.formatDecimal(film.revenue, 0, 'COMMA', 2, 'POINT')}"/>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <div class="filmPropSpaces">
                        <b>Overview:</b>
                        <th:block th:text="${film.overview}"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="back-to-top" style="display: inline;">
    <a style="pointer-events: none">
        <img th:src="@{/img/scroll-up-button.png}">
    </a>
</div>

<footer th:insert="embeded/footer.html"></footer>

<script>
    $(".subsForm").submit(subscribe);
    $(".unSubsForm").submit(unsubscribe);
</script>
</body>
</html>