<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:insert="embeded/header.html"></head>
<body>
<nav th:insert="embeded/navbar.html"></nav>

<div class="container">
    <div class="row">
        <div class="col-12 col-sm-8 col-md-6 col-lg-5 col-xl-4 col-centered">
            <div class="row">
                <div class="col" style="text-align: center">
                    <span style="font-family: 'Roboto', sans-serif; font-weight: 100; font-size: 34px">LOG IN</span>
                </div>
            </div>
            <form action='login' method='post'>
                <div class="row">
                    <div class="col">
                        <div class="form-group">
                            <div class="icon-addon addon-lg">
                                <input type="text" placeholder="Login" name="username" class="form-control"
                                       required>
                                <img th:src="@{/img/user-dark.png}" class="glyphicon glyphicon-search">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="form-group">
                            <div class="icon-addon addon-lg">
                                <input type="password" placeholder="Password" name="password" class="form-control"
                                       required>
                                <img th:src="@{/img/password-dark.png}" class="glyphicon glyphicon-search">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col" style="text-align: left;">
                        <a href="/register" class="sign-up-link">Sign up</a>
                    </div>
                    <div class="col" style="text-align: right;">
                        <input type="submit" class="btn btn-warning" style="padding:7px 34px;" value="LOG IN"/>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

</body>
</html>