<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sh="http://www.thymeleaf.org">
<head th:replace="embeded/header.html :: header(~{::title})">
    <title th:text="#{lang.title.subs.movies}"></title>
</head>
<body>
<nav th:insert="embeded/navbar.html"></nav>

<script th:inline="javascript" th:replace="embeded/subscriptions.html :: movie_subscribe"></script>

<div class="container-fluid" style="padding: 10px">
    <div class="alert alert-warning alert-dismissible fade show" role="alert" th:if="${not botInitialized}"
         style="background-color: #F6EAC3;">
        <p style="font-size: 18px; font-weight: normal; margin-bottom: 0; color: #A77C43;">
            <span th:text="#{lang.tg_meaasge.please}"></span>
            <strong>
                <a th:href="'tg://resolve?domain=' + ${@environment.getProperty('telegram.bot')}"
                   th:text="#{lang.tg_meaasge.bot}"
                   style="color: #A77C43;" onclick="document.getElementById('modal-notif').remove();">
                </a>
            </strong> <span th:text="#{lang.tg_meaasge.notifications}"></span>
        </p>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>

    <div id="collapse-form">
        <div id="search-bar" style="background-color: #F9F9F9; height: 150%;">
            <form action="/movie/subscriptions" method="get" style="height: 100%;">

                <div class="row"
                     style="font-weight: bold;font-family: 'Roboto', sans-serif;font-size: 18px;padding: 10px 20px;">
                    <div class="col" th:text="#{lang.filter}"></div>
                </div>

                <div class="container" style="padding: 0; background-color: #F2F2F2; min-height: 100%">
                    <div class="row"
                         style="font-weight: normal;font-family: 'Roboto', sans-serif;font-size: 16px;padding: 15px 20px 5px 20px">
                        <div class="col"><label th:text="#{lang.status} + ':'"></label></div>
                    </div>

                    <div id="collapseFilter" style="padding: 15px 20px;">

                        <th:block
                                th:each="status : ${T(com.ness.movie_release_web.model.wrapper.tmdb.movie.details.Status).values()}"
                                th:if="${status.ordinal() != 0}">
                            <div class="row">
                                <div class="col-1">
                                    <input type="checkbox" class="option-input" th:id="${status.name()}"
                                           name="statuses" th:value="${status}"
                                           th:checked="${statuses != null && statuses.contains(status)}">
                                </div>

                                <div class="col-11"
                                     style="font-family: 'Roboto', sans-serif;font-size: 16px;">
                                    <label th:for="${status.name()}" th:text="#{'lang.status.' + ${status}}"></label>
                                </div>
                            </div>
                        </th:block>
                    </div>

                    <div class="row"
                         style="font-weight: normal;font-family: 'Roboto', sans-serif;font-size: 16px;padding: 15px 20px 5px 20px">
                        <div class="col"><label th:text="#{lang.sort_by} + ':'"></label></div>
                    </div>

                    <div class="row">
                        <div class="col col-centered">
                            <div id="selectSort" style="padding: 15px 20px;">
                                <select th:name="sortBy" class="form-control selectpicker">
                                    <option th:each="sort : ${T(com.ness.movie_release_web.repository.MovieSortBy).values()}"
                                            th:value="${sort}"
                                            th:text="#{'lang.sort.' + ${sort.name()}}"
                                            th:selected="${sort.equals(sortBy)}">
                                    </option>
                                </select>
                            </div>
                        </div>
                    </div>


                    <div class="row" style="padding: 12px 0">
                        <div class="col-centered">
                            <input type="submit" class="btn btn-warning" th:value="#{lang.apply}">
                        </div>
                    </div>
                </div>

            </form>
        </div>
    </div>

    <div id="sidebar-button" style="height: 100%;">
        <a href="javascript:void(0);" id="collapse-button" class="rotated">
            <i class="fas fa-lg fa-angle-right" id="collapse-button-icon"
               style="color: #676767; padding-right: 15px;"></i>
            <span id="collapse-button-text" th:text="#{lang.search_criteria_button_show}"></span>
        </a>
    </div>

</div>

<th:block th:unless="${asList}">
    <div th:replace="embeded/subscriptions.html :: movie_subscriptions"></div>
</th:block>
<th:block th:if="${asList}">
    <div th:replace="embeded/subscriptions.html :: movie_subscriptions_list"></div>
</th:block>

<div class="container" th:if="${films.isEmpty()}" style="height: 35%; color: #C9C9C9; font-size: 20px">
    <div class="row" style="height: 100%;">
        <div class="col-xl-12" style="text-align: center; position: relative">
            <span style="bottom: 0; left: 0; right: 0" th:text="#{lang.subs.no_subs}"></span>
            <br>
            <span style="bottom: 0; left: 0; right: 0" th:text="#{lang.subs.to_add}"></span>
        </div>
    </div>
</div>

<div th:replace="embeded/pagination.html :: pagination"></div>

<div class="back-to-top" style="display: inline;">
    <a style="pointer-events: none">
        <img th:src="@{/img/scroll-up-button.png}">
    </a>
</div>

<footer th:insert="embeded/footer.html"></footer>

<script th:inline="javascript" th:replace="embeded/sidebar.html :: sidebar_js"></script>
<script th:inline="javascript" th:replace="embeded/sidebar.html :: selectpicker_js"></script>

<script th:inline="javascript">

    $(".subsForm").submit(subscribe);
    $(".unSubsForm").submit(unsubscribe);
</script>
</body>
</html>