<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:insert="embeded/header.html"></head>
<body>
<nav th:insert="embeded/navbar.html"></nav>

<div class="container" style="margin-top: 80px">
    <div class="row" style="text-align: center">

        <div class="col-1 col-sm-1">
        </div>
        <div class="col-11 col-sm-11 col-md-8 col-lg-7 col-xl-6 col-centered">
            <form th:action="@{/register}" method="post" th:object="${user}">
                <div class="row">
                    <div class="col-10 col-sm-10 col-md-10 col-lg-10 col-xl-10 form-group">
                        <span style="font-family: 'Roboto', sans-serif; font-weight: 100; font-size: 34px"
                              th:text="${user.id != null ? #messages.msg('lang.edit_profile.title') : #messages.msg('lang.sign_up_title')}"></span>
                    </div>
                    <th:block th:if="${#fields.hasErrors() or (errors != null)}">
                        <div class="col-2 col-sm-2 col-md-2 col-lg-2 col-xl-2">
                            <div class="row">
                            </div>
                        </div>
                    </th:block>
                </div>

                <div class="row">
                    <div class="col-10 col-sm-10 col-md-10 col-lg-10 col-xl-10" style="padding-bottom: 7px">
                        <th:block th:each="error : ${errors}">
                            <span class="error" th:text="${error}"/><br>
                        </th:block>

                        <th:block th:if="${#fields.hasErrors('login')}">
                            <span th:errors="*{login}" class="error"></span><br>
                        </th:block>

                        <th:block th:if="${#fields.hasErrors('encPassword')}">
                            <span th:errors="*{encPassword}" class="error"/><br>
                        </th:block>

                        <th:block th:if="${#fields.hasErrors('email')}">
                            <span th:errors="*{email}" class="error"/><br>
                        </th:block>

                        <th:block th:if="${#fields.hasErrors('telegramId')}">
                            <span th:errors="*{telegramId}" class="error"/><br>
                        </th:block>

                    </div>
                    <th:block th:if="${#fields.hasErrors() or (errors != null)}">
                        <div class="col-2 col-sm-2 col-md-2 col-lg-2 col-xl-2">
                            <div class="row">

                            </div>
                        </div>
                    </th:block>
                </div>

                <input type="hidden" th:field="*{id}"/>
                <input type="hidden" th:field="*{telegramChatId}"/>

                <div class="row">
                    <div class="col-10 col-sm-10 col-md-10 col-lg-10 col-xl-10 form-group">
                        <div class="icon-addon addon-lg">
                            <input type="text" th:placeholder="#{lang.login_input_placeholder}" class="form-control" th:field="*{login}"/>
                            <img th:src="@{/img/user-dark.png}" class="glyphicon glyphicon-search">
                        </div>
                    </div>

                    <th:block th:if="${#fields.hasErrors('login')}">
                        <div class="col-2 col-sm-2 col-md-2 col-lg-2 col-xl-2"
                             style="text-align: left; margin-left: -13px; margin-top: 10px">
                            <img class="glyphicon" th:src="@{/img/error.png}"/>
                        </div>
                    </th:block>
                </div>

                <div class="row">

                    <div class="col-10 col-sm-10 col-md-10 col-lg-10 col-xl-10 form-group">
                        <div class="icon-addon addon-lg">
                            <select th:field="*{language}" class="form-control" style="height: 46px">
                                <option th:each="lang : ${T(com.ness.movie_release_web.model.wrapper.tmdb.Language).values()}"
                                        th:value="${lang}"
                                        th:text="#{'lang.' + ${lang.value}}"
                                        th:selected="${lang == language}">
                                </option>
                            </select>
                            <img th:src="@{/img/language-dark.png}" class="glyphicon glyphicon-search">
                        </div>
                    </div>
                </div>


                <div class="row">
                    <div class="col-10 col-sm-10 col-md-10 col-lg-10 col-xl-10 form-group">
                        <div class="icon-addon addon-lg">
                            <input type="password" th:placeholder="#{lang.password_input_placeholder}" class="form-control"
                                   th:field="*{encPassword}"/>
                            <img th:src="@{/img/password-dark.png}" class="glyphicon glyphicon-search">
                        </div>
                    </div>

                    <th:block th:if="${#fields.hasErrors('encPassword')}">
                        <div class="col-2 col-sm-2 col-md-2 col-lg-2 col-xl-2"
                             style="text-align: left; margin-left: -13px; margin-top: 10px">
                            <img class="glyphicon" th:src="@{/img/error.png}"/>

                        </div>
                    </th:block>
                </div>


                <div class="row">
                    <div class="col-10 col-sm-10 col-md-10 col-lg-10 col-xl-10 form-group">
                        <div class="icon-addon addon-lg">
                            <input type="password" th:placeholder="#{lang.password_confirm_input_placeholder}" class="form-control"
                                   th:field="*{matchPassword}"/>
                            <img th:src="@{/img/password-dark.png}" class="glyphicon glyphicon-search">
                        </div>
                    </div>

                    <th:block th:if="${errors != null}">
                        <th:block th:if="${#lists.contains(errors, 'Passwords does not match')}">
                            <div class="col-2 col-sm-2 col-md-2 col-lg-2 col-xl-2"
                                 style="text-align: left; margin-left: -13px; margin-top: 10px">
                                <img class="glyphicon" th:src="@{/img/error.png}"/>
                            </div>
                        </th:block>
                    </th:block>
                </div>

                <div class="row">
                    <div class="col-10 col-sm-10 col-md-10 col-lg-10 col-xl-10 form-group">
                        <div class="icon-addon addon-lg">
                            <input type="text" th:placeholder="#{lang.email_input_placeholder}" class="form-control" th:field="*{email}"/>
                            <img th:src="@{/img/email-dark.png}" class="glyphicon glyphicon-search">
                        </div>
                    </div>

                    <th:block th:if="${#fields.hasErrors('email') or
                                        (errors != null and #lists.contains(errors, 'Email address is empty'))}">
                        <div class="col-2 col-sm-2 col-md-2 col-lg-2 col-xl-2"
                             style="text-align: left; margin-left: -13px; margin-top: 10px">
                            <img class="glyphicon" th:src="@{/img/error.png}"/>
                        </div>
                    </th:block>
                </div>

                <div class="row">
                    <div class="col-10 col-sm-10 col-md-10 col-lg-10 col-xl-10 form-group">
                        <div class="icon-addon addon-lg">
                            <input type="text" th:placeholder="#{lang.telegram_input_placeholder}" class="form-control" th:field="*{telegramId}"/>
                            <img th:src="@{/img/telegram-dark.png}" class="glyphicon glyphicon-search">
                        </div>
                    </div>

                    <th:block th:if="${#fields.hasErrors('telegramId') or
                                        (errors != null and #lists.contains(errors, 'Telegram id is empty'))}">
                        <div class="col-2 col-sm-2 col-md-2 col-lg-2 col-xl-2"
                             style="text-align: left; margin-left: -13px; margin-top: 10px">
                            <img class="glyphicon" th:src="@{/img/error.png}"/>
                        </div>
                    </th:block>
                </div>

                <div class="row">
                    <div class="col-10 col-sm-10 col-md-10 col-lg-10 col-xl-10 form-group">
                        <div class="row mytext" style="height: 36px; font-size: 16px">

                            <div class="col-4 col-sm-4 col-md-4 col-lg-4 col-xl-4"
                                 style="text-align: left; padding-right: 0" th:text="#{lang.notify_via}">
                            </div>

                            <div class="col-4 col-sm-4 col-md-4 col-lg-4 col-xl-4">
                                <div class="row">
                                    <div class="col-1 col-sm-1 col-md-1 col-lg-1 col-xl-1">
                                        <input type="radio" class="option-input radio"
                                               th:field="*{telegramNotify}" th:value="true"/>
                                    </div>
                                    <div class="col-9 col-sm-9 col-md-9 col-lg-9 col-xl-9" style="padding: 0" th:text="#{lang.via_telegram}">
                                    </div>

                                </div>
                            </div>

                            <div class="col-4 col-sm-4 col-md-4 col-lg-4 col-xl-4">
                                <div class="row">
                                    <div class="col-1 col-sm-1 col-md-1 col-lg-1 col-xl-1">
                                        <input type="radio" class="option-input radio"
                                               th:field="*{telegramNotify}" th:value="false"/>
                                    </div>
                                    <div class="col-8 col-sm-8 col-md-8 col-lg-8 col-xl-8" style="padding: 0" th:text="#{lang.via_email}">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <th:block th:if="${#fields.hasErrors() or (errors != null)}">
                    <div class="col-2 col-sm-2 col-md-2 col-lg-2 col-xl-2">
                        <div class="row">

                        </div>
                    </div>
                </th:block>

                <div class="row">
                    <div class="col-10 col-sm-10 col-md-10 col-lg-10 col-xl-10 form-group">
                        <div class="g-recaptcha" th:data-sitekey="${@environment.getProperty('google.recaptcha.site')}"
                             data-callback="enableButton" data-theme="light" data-size="normal"></div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-10 col-sm-10 col-md-10 col-lg-10 col-xl-10 form-group">
                        <div class="row">
                            <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6 form-group" style="text-align: left">
                                <a href="/login" class="sign-up-link" th:text="#{lang.have_account}"></a>
                            </div>
                            <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6 form-group" style="text-align: right">
                                <input type="submit" id="submitButton" class="btn btn-warning" style="padding:7px 34px;"
                                       th:value="${user.id != null ? #messages.msg('lang.edit_profile.save') : #messages.msg('lang.sign_up_title')}"/>
                            </div>
                        </div>
                    </div>
                </div>
                <th:block th:if="${#fields.hasErrors() or (errors != null)}">
                    <div class="col-2 col-sm-2 col-md-2 col-lg-2 col-xl-2">
                        <div class="row">
                        </div>
                    </div>
                </th:block>
            </form>
        </div>
    </div>
</div>

<footer th:insert="embeded/footer.html"></footer>
<script>
    $(document).ready(function () {
        $('#submitButton').attr("disabled", "disabled");
    });

    function enableButton() {
        $('#submitButton').removeAttr("disabled");
    }
</script>
</body>
</html>