<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:insert="embeded/header.html"></head>
<body>
<nav th:insert="embeded/navbar.html"></nav>

<div class="container">
    <div class="row" style="text-align: center">
        <div class="col-md-6" style="float:none; margin: auto">
            <div class="row">
                <div class="col-md-10">
                    <span style="font-family: 'Roboto', sans-serif; font-weight: 100; font-size: 34px">SIGN UP</span>
                </div>
            </div>
            <form th:action="@{/register}" method="post" th:object="${user}">

                <div class="row">
                    <div class="col-md-10" style="padding-bottom: 7px">
                        <th:block th:each="error : ${errors}">
                            <span class="error" th:text="${error}"/><br>
                        </th:block>

                        <th:block th:if="${#fields.hasErrors('login')}">
                            <span class="error">Login </span>
                            <span th:errors="*{login}" class="error"></span><br>
                        </th:block>

                        <th:block th:if="${#fields.hasErrors('encPassword')}">
                            <span class="error">Password </span>
                            <span th:errors="*{encPassword}" class="error"/><br>
                        </th:block>

                        <th:block th:if="${#fields.hasErrors('email')}">
                            <span th:errors="*{email}" class="error"/><br>
                        </th:block>

                        <th:block th:if="${#fields.hasErrors('telegramId')}">
                            <span class="error">Telegram id </span>
                            <span th:errors="*{telegramId}" class="error"/><br>
                        </th:block>

                    </div>
                </div>

                <input type="hidden" th:field="*{id}"/>

                <div class="row">
                    <div class="col-md-10 form-group">
                        <div class="icon-addon addon-lg">
                            <input type="text" placeholder="Login" class="form-control" th:field="*{login}"/>
                            <img th:src="@{/img/user-dark.png}" class="glyphicon glyphicon-search">
                        </div>
                    </div>
                    <th:block th:if="${#fields.hasErrors('login')}">
                        <div class="col-md-2" style="text-align: left; margin-left: -13px; margin-top: 10px">
                            <img class="glyphicon" th:src="@{/img/error.png}"/>
                        </div>
                    </th:block>
                </div>

                <div class="row">
                    <div class="col-md-10 form-group">
                        <div class="icon-addon addon-lg">
                            <input type="password" placeholder="Password" class="form-control"
                                   th:field="*{encPassword}"/>
                            <img th:src="@{/img/password-dark.png}" class="glyphicon glyphicon-search">
                        </div>
                    </div>
                    <th:block th:if="${#fields.hasErrors('encPassword')}">
                        <div class="col-md-2" style="text-align: left; margin-left: -13px; margin-top: 10px">
                            <img class="glyphicon" th:src="@{/img/error.png}"/>

                        </div>
                    </th:block>
                </div>

                <div class="row">
                    <div class="col-md-10 form-group">
                        <div class="icon-addon addon-lg">
                            <input type="password" placeholder="Password confirm" class="form-control"
                                   th:field="*{matchPassword}"/>
                            <img th:src="@{/img/password-dark.png}" class="glyphicon glyphicon-search">
                        </div>
                    </div>
                    <th:block th:if="${errors != null}">
                        <th:block th:if="${#lists.contains(errors, 'Passwords does not match')}">
                            <div class="col-md-2" style="text-align: left; margin-left: -13px; margin-top: 10px">
                                <img class="glyphicon" th:src="@{/img/error.png}"/>
                            </div>
                        </th:block>
                    </th:block>


                </div>

                <div class="row">
                    <div class="col-md-10 form-group">
                        <div class="icon-addon addon-lg">
                            <input type="text" placeholder="Email" class="form-control" th:field="*{email}"/>
                            <img th:src="@{/img/email-dark.png}" class="glyphicon glyphicon-search">
                        </div>
                    </div>
                    <th:block th:if="${#fields.hasErrors('email') or
                                        (errors != null and #lists.contains(errors, 'Email address is empty'))}">
                        <div class="col-md-2" style="text-align: left; margin-left: -13px; margin-top: 10px">
                            <img class="glyphicon" th:src="@{/img/error.png}"/>
                        </div>
                    </th:block>
                </div>

                <div class="row">
                    <div class="col-md-10 form-group">
                        <div class="icon-addon addon-lg">
                            <input type="text" placeholder="Telegram Id" class="form-control" th:field="*{telegramId}"/>
                            <img th:src="@{/img/telegram-dark.png}" class="glyphicon glyphicon-search">
                        </div>
                    </div>
                    <th:block th:if="${#fields.hasErrors('telegramId') or
                                        (errors != null and #lists.contains(errors, 'Telegram id is empty'))}">
                        <div class="col-md-2" style="text-align: left; margin-left: -13px; margin-top: 10px">
                            <img class="glyphicon" th:src="@{/img/error.png}"/>
                        </div>
                    </th:block>
                </div>

                <div class="row mytext" style="height: 36px">

                    <div class="col-md-4" style="text-align: left;">
                        Notify me via
                    </div>

                    <div class="col-md-3">
                        <div class="row">
                            <div class="col-md-1">
                                <input type="radio" class="option-input radio" style="margin-right: 7px"
                                       th:field="*{telegramNotify}" th:value="true"/>
                            </div>
                            <div class="col-md-9">
                                Telegram
                            </div>

                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="row">
                            <div class="col-md-1">

                        <input type="radio" class="option-input radio" style="margin-right: 7px"
                               th:field="*{telegramNotify}" th:value="false"/>
                            </div>
                            <div class="col-md-8">
                                Email
                            </div>

                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-5" style="text-align: left">
                        <a href="/login" class="sign-up-link">Have an account?</a>
                    </div>
                    <div class="col-md-5" style="text-align: right">
                        <input type="submit" class="btn btn-warning" style="padding:7px 34px;" value="SIGN UP"/>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

</body>
</html>