<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:insert="embeded/header.html"></head>
<body>
<nav th:insert="embeded/navbar.html"></nav>

<div class="container-fluid">
    <div class="row">
        <th:block th:each="film, iStat : ${films}">

            <th:block th:if="${iStat.index % 5 == 0}">
                <div class="offset-xl-1"></div>
            </th:block>
            <th:block th:if="${iStat.index == 5}">
                <div class="offset-xl-1"></div>
            </th:block>

            <div class="col-xs- col-sm- col-md- col-lg-3 col-xl-2"
                 style="text-align: center; font-weight: bold; padding-bottom: 40px; padding-top: 40px">
                <div class="row" style="padding-bottom: 16px">
                    <div class="col-xl-12">
                        <img th:src="${film.posterUrl}" style="height: 300px; width: auto;">
                    </div>
                </div>
                <div class="row">
                    <div class="col-xl-12">
                        <span th:text="${film.title}"/>
                    </div>
                </div>
                <div class="row" style="padding-bottom: 12px">
                    <div class="col-xl-12">
                        <td th:text="${#strings.capitalize(film.type)}"/>
                    </div>
                </div>

                <div class="row">
                    <div class="col-xl-12">
                        <form action="/user/getFilm" method="get">
                            <input type="hidden" name="imdbId" th:value="${film.imdbId}"/>
                            <input type="submit" value="View Full Information" class="btn btn-warning"/>
                        </form>
                    </div>
                </div>
            </div>
        </th:block>
    </div>


</div>

<div th:with="urlBuilder=${T(org.springframework.web.servlet.support.ServletUriComponentsBuilder)}">

    <table class="table pagesTable center">
        <tr>
            <th>Pages:</th>
            <th:block th:each="i : ${#numbers.sequence(1, pageCount)}">

                <td>
                    <a th:href="${urlBuilder.fromCurrentRequest().replaceQueryParam('page', i).toUriString()}"
                       th:text="${i}"/>
                </td>
            </th:block>

        </tr>
    </table>
</div>
</div>


</body>
</html>