<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sh="http://www.thymeleaf.org">
<head th:insert="embeded/header.html"></head>
<body>
<nav th:insert="embeded/navbar.html"></nav>


<script th:inline="javascript">

    function unsubscribe(event) {

        var form = $(this);
        var tmdbId = form.find('input').val();

        $.post('/series/unSubscribe', form.serialize());

        var par = form.parent();
        par.html(
            '<form class="subsForm" action="/series/subscribe" method="post" class="subsForm">' +
            '    <input type="hidden" name="tmdbId" value="' + tmdbId + '"/>' +
            '    <input type="submit" value="' + [[#{lang.subscribe}]] + '" class="btn btn-warning"/>' +
            '</form>'
        );
        var newForm = par.find(".subsForm");
        newForm.on('submit', subscribe);
        return false;
    }

    function subscribe(event) {

        var form = $(this);
        var tmdbId = form.find('input').val();

        $.post('/series/subscribe', $(this).serialize());

        var par = form.parent();
        par.html(
            '<form class="unSubsForm" action="/series/unSubscribe" method="post" class="unSubsForm">' +
            '    <input type="hidden" name="tmdbId" value="' + tmdbId + '"/>' +
            '    <input type="submit" value="' + [[#{lang.unsubscribe}]] + '" class="btn btn-danger"/>' +
            '</form>'
        );
        var newForm = par.find(".unSubsForm");
        newForm.on('submit', unsubscribe);
        return false;
    }
</script>

<div class="container-fluid">
    <div class="alert alert-warning alert-dismissible fade show" role="alert" th:if="${not botInitialized}"
         style="background-color: #F6EAC3;">
        <p style="font-size: 18px; font-weight: normal; margin-bottom: 0; color: #A77C43;">
            Please send any message to
            <strong>
                <a th:href="'tg://resolve?domain=' + ${@environment.getProperty('telegram.bot')}"
                   style="color: #A77C43;" onclick="document.getElementById('modal-notif').remove();">
                    bot
                </a>
            </strong> to receive notifications
        </p>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>

    <div class="container-fluid">
        <form action="/series/subscriptions" method="get">
            <label th:text="#{lang.status} + ':'"></label>

            <div class="row">
                <div class="col-8 col-sm-7 col-md-6 col-lg-5 col-xl-4">
                    <select name="statuses" class="form-control selectpicker" multiple="multiple">
                        <option th:each="status : ${T(com.ness.movie_release_web.model.wrapper.tmdb.tvSeries.details.Status).values()}"
                                th:value="${status}"
                                th:text="#{'lang.status.' + ${status}}"
                                th:selected="${statuses != null && statuses.contains(status)}">
                        </option>
                    </select>
                </div>

                <div class="col-1 col-sm-1 col-md-1 col-lg-1 col-xl-1">
                    <input type="submit" class="btn btn-warning">
                </div>

            </div>
        </form>


        <div class="row">
            <th:block th:each="serie, iStat : ${series}">

                <th:block th:if="${iStat.index % 5 == 0}">
                    <div class="offset-xl-1"></div>
                </th:block>
                <th:block th:if="${iStat.index > 0 && iStat.index % 5 == 0}">
                    <div class="offset-xl-1"></div>
                </th:block>

                <div class="col-xs-6 col-sm-5 col-md-4 col-lg-3 col-xl-2"
                     style="text-align: center; font-weight: bold; padding-bottom: 40px; padding-top: 40px;">
                    <div class="row" style="padding-bottom: 6px; height: 320px">
                        <div class="col-xl-12">
                            <a th:href="'/series/' + ${serie.id}">
                                <img class="rounded" th:src="${serie.posterPath}"
                                     style="height: 300px; max-width: 260px">
                            </a>
                        </div>
                    </div>
                    <div class="row" style="min-height: 70px;padding-bottom: 12px">
                        <div class="col-xl-12">
                            <a th:href="'/series/' + ${serie.id}"
                               style="color: #555555; text-decoration: none;">
                                <span th:text="${serie.name} + ' (' + ${serie.firstAirDate.getYear()} + ')'"/>
                            </a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xl-12">

                            <form action="/series/unSubscribe" method="post" class="unSubsForm">
                                <input type="hidden" name="tmdbId" th:value="${serie.id}"/>
                                <input type="submit" th:value="#{lang.unsubscribe}" class="btn btn-danger"/>
                            </form>
                        </div>
                    </div>
                </div>
            </th:block>
        </div>
    </div>

    <div th:if="${series.isEmpty()}" style="height: 35%; color: #C9C9C9; font-size: 20px">
        <div class="row" style="height: 100%;">
            <div class="col-xl-12" style="text-align: center;">
            <span style="bottom: 0; left: 0; right: 0">You have no subscriptions yet.
            <br>
            To add a subscription search for movie and hit the subscribe button :)</span>
            </div>
        </div>
    </div>

    <th:block th:if="${pageCount > 0}">
        <!-- PAGINATION -->
        <div class="container-fluid" style="padding-bottom: 60px"
             th:with="urlBuilder=${T(org.springframework.web.servlet.support.ServletUriComponentsBuilder)}, page = ${page == null ? 0 : page}">

            <div class="row" style="padding-bottom: 30px">
                <div class="col-12 col-sm-10 col-md-9 col-lg-8 col-xl-6 col-centered">
                    <div class="row">

                        <div class="col-1 col-sm-1 col-md-1 col-lg-1 col-xl-1 col-centered"></div>

                        <!-- ARROW BACK -->
                        <div class="col col-fixed-arrow my-page-link">
                            <!-- active link -->
                            <th:block th:if="${page > 0}">
                                <a th:href="${urlBuilder.fromCurrentRequest().replaceQueryParam('page', page - 1).toUriString()}">
                                    <img class="page-arrow" th:src="@{/img/pagination/page-back.png}">
                                </a>
                            </th:block>

                            <!-- inactive link-->
                            <th:block th:unless="${page > 0}">
                                <a style="pointer-events: none">
                                    <img class="page-arrow" th:src="@{/img/pagination/page-back-inactive.png}">
                                </a>
                            </th:block>
                        </div>

                        <!--separate link to first page -->
                        <th:block th:if="${page > 1}">
                            <div class="col col-fixed-page my-page-link my-page-number">
                                <a class="text-secondary"
                                   th:href="${urlBuilder.fromCurrentRequest().replaceQueryParam('page', 0).toUriString()}"
                                   th:text="${1}"></a>
                            </div>

                            <div class="col my-page-splitter col-fixed-splitter">
                                <span>...</span>
                            </div>
                        </th:block>

                        <!-- pages loop -->
                        <th:block th:each="i : ${#numbers.sequence(page - 1, page + 1)}">
                            <!-- skip first-1  and last+1 pages-->
                            <th:block th:if="${i >= 0 and i <= pageCount - 1}">

                                <!-- CURRENT PAGE -->
                                <!-- my-page-current -->
                                <div class="col col-fixed-page my-page-link  my-page-current " th:if="${page == i}">
                                    <a class="text-secondary" th:href="'#'" th:text="${i + 1}"></a>
                                </div>

                                <!-- Link To Page -->
                                <div class="col col-fixed-page my-page-link my-page-number" th:unless="${page == i}">
                                    <a class="text-secondary my-page-number"
                                       th:href="${urlBuilder.fromCurrentRequest().replaceQueryParam('page', i).toUriString()}"
                                       th:text="${i + 1}"></a>
                                </div>
                            </th:block>
                        </th:block>

                        <!--separate link to last page -->
                        <th:block th:if="${page < pageCount - 2}">
                            <div class="col my-page-splitter col-fixed-splitter">
                                <span>...</span>
                            </div>

                            <div class="col col-fixed-page my-page-link my-page-number">
                                <a class="text-secondary"
                                   th:href="${urlBuilder.fromCurrentRequest().replaceQueryParam('page', pageCount - 1).toUriString()}"
                                   th:text="${pageCount}"></a>
                            </div>
                        </th:block>

                        <!-- ARROW FORWARD-->
                        <div class="col col-fixed-arrow my-page-link">
                            <!-- active link -->
                            <th:block th:if="${page < pageCount - 1}">
                                <a th:href="${urlBuilder.fromCurrentRequest().replaceQueryParam('page', page + 1).toUriString()}">
                                    <img class="page-arrow" th:src="@{/img/pagination/page-next.png}">
                                </a>
                            </th:block>

                            <!-- inactive link-->
                            <th:block th:unless="${page < pageCount - 1}">
                                <a style="pointer-events: none">
                                    <img class="page-arrow" th:src="@{/img/pagination/page-next-inactive.png}">
                                </a>
                            </th:block>
                        </div>

                        <div class="col-1 col-sm-1 col-md-1 col-lg-1 col-xl-1 col-centered"></div>
                    </div>
                </div>
            </div>
        </div>
    </th:block>
</div>

<div class="back-to-top" style="display: inline;">
    <a style="pointer-events: none">
        <img th:src="@{/img/scroll-up-button.png}">
    </a>
</div>

<footer th:insert="embeded/footer.html"></footer>

<script th:inline="javascript">

    $(".unSubsForm").submit(unsubscribe);

    $('.selectpicker').selectpicker({
        noneSelectedText: [[#{lang.none_selected_text}]],
        noneResultsText: [[#{lang.none_results_text}]],
        selectAllText: [[#{lang.select_all}]]
    });
</script>
</body>
</html>