<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="embeded/header.html :: header(~{::title})">
    <title th:text="${series.name} + ' (' + ${series.firstAirDate?.getYear()} + ')'"></title>
</head>
<body>
<nav th:insert="embeded/navbar.html"></nav>

<script th:inline="javascript" th:replace="embeded/subscriptions.html :: series_subscribe"></script>

<div class="container-fluid mytext" style="padding-top: 30px">
    <div class="row">
        <div class="col-10 col-sm-6 col-md-5 col-lg-4 col-xl-3" style="text-align: right">
            <div style="text-align: center; display: inline-block;">
                <img th:src="${series.posterPath}" style="height: 400px; max-width: 300px" class="rounded"
                     th:onerror="'this.src=\'' + @{/img/no-image.png} + '\'; this.onerror=null'">

                <p style="margin-bottom: 12px; margin-top: 16px;"><span th:text="#{lang.score}"></span>
                    <b th:if="${series.voteAverage > 6}"
                       style="color: #33CC00"
                       th:text="${series.voteAverage}"/>

                    <b th:if="${series.voteAverage < 4}"
                       style="color: #FD0100"
                       th:text="${series.voteAverage}"/>


                    <b th:if="${series.voteAverage >= 4 and series.voteAverage <= 6}"
                       style="color: #E1AC00"
                       th:text="${series.voteAverage}"/>
                </p>

                <div>
                    <form th:if="${subscribed}" action="/series/unSubscribe" method="post" class="unSubsForm">
                        <input type="hidden" name="tmdbId" th:value="${series.id}"/>
                        <input type="submit" th:value="#{lang.unsubscribe}" class="btn btn-danger"/>
                    </form>
                </div>

                <div>
                    <form th:unless="${subscribed}" action="/series/subscribe" method="post" class="subsForm">
                        <input type="hidden" name="tmdbId" th:value="${series.id}"/>
                        <input type="submit" th:value="#{lang.subscribe}" class="btn btn-warning"/>
                    </form>
                </div>
            </div>
        </div>

        <div class="col-12 col-sm-12 col-md-6 col-lg-8 col-xl-7">
            <div class="row">
                <div class="col-md-8">
                    <div style="font-size: 27px;">
                        <b th:text="${series.name} + ' (' + ${series.firstAirDate?.getYear()} + ')'"/>
                    </div>
                </div>
            </div>
            <div class="row" style="font-size: 12px; height: 32px; vertical-align: center; padding-top: 4px">
                <div class="col-auto col-sm-auto col-md-auto col-lg-auto col-xl-auto">
                    <div class="plate">
                        <span class="plate-text" th:text="#{'lang.status.' + ${series.status}}"/>
                    </div>
                </div>

                <div class="col-auto col-sm-auto col-md-auto col-lg-auto col-xl-auto">
                    <div class="plate">
                        <p class="plate-text" th:text="${#strings.capitalize(series.originalLanguage)}"/>
                    </div>
                </div>

                <div th:unless="${series.episodeRunTime == null || series.episodeRunTime.isEmpty()}"
                     class="col-auto col-sm-auto col-md-auto col-lg-auto col-xl-auto"
                     style="text-align: center; max-width: 200px">
                    <img style="width: 16px; margin-right: 3px" th:src="@{/img/clock.png}"/>

                    <span class="plate-text"
                          th:text="${#strings.listJoin(series.episodeRunTime, ', ')} + ' ' + #{lang.minutes}"></span>
                </div>

                <div th:unless="${series.homepage == null || series.homepage.equals('')}"
                     class="col-auto col-sm-auto col-md-auto col-lg-auto col-xl-auto pr-2" style="padding: 0">
                    <a class="plate-text site" style="color: #337ab7;" th:href="${series.homepage}"
                       th:text="#{lang.website}"> </a>
                </div>

                <div th:if="${!series.videos.videoList.isEmpty()}"
                     class="col-auto col-sm-auto col-md-auto col-lg-auto col-xl-auto" style="padding: 0">

                    <a class="plate-text site" th:text="#{lang.video}"
                       style="color: #337ab7;"
                       data-toggle="collapse" href="#collapseExample" role="button"
                       aria-expanded="false" aria-controls="collapseExample"></a>
                </div>
            </div>

            <div class="row" th:if="${!series.videos.videoList.isEmpty()}">
                <div class="col-md-12">
                    <div class="moviePropSpaces">
                        <div class="collapse" id="collapseExample">

                            <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
                                <div class="carousel-inner">
                                    <div th:class="${i.index == 0 ? 'active' : ''} + ' carousel-item'"
                                         th:each="video, i : ${series.videos.videoList}"
                                         style="height: 500px;">
                                        <iframe height="500px" class="yt-frame"
                                                th:src="${video.ytLink}">
                                        </iframe>
                                    </div>

                                </div>
                                <a class="carousel-control-prev" href="#carouselExampleControls" role="button"
                                   data-slide="prev">
                                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                    <span class="sr-only">Previous</span>
                                </a>
                                <a class="carousel-control-next" href="#carouselExampleControls" role="button"
                                   data-slide="next">
                                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                    <span class="sr-only">Next</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <div class="moviePropSpaces">
                        <b th:text="#{lang.genres} + ':'"></b>
                        <th:block th:each="genre: ${series.genres}">
                            <a class="genre-link" th:text="${#strings.capitalize(genre.name)}"
                               th:href="${'/series/discover?genres=' + genre.id}"></a>
                        </th:block>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <div class="moviePropSpaces">
                        <b th:text="#{lang.networks} + ':'"></b>
                        <th:block th:each="production: ${series.networks}">
                            <a class="genre-link" th:text="${#strings.capitalize(production.name)}"
                               th:href="${'/series/discover?networks=' + production.id}"></a>
                        </th:block>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <div class="moviePropSpaces">
                        <b th:text="#{lang.production} + ':'"></b>
                        <th:block th:each="production: ${series.productionCompanies}">
                            <a class="genre-link" th:text="${#strings.capitalize(production.name)}"
                               th:href="${'/series/discover?companies=' + production.id}"></a>
                        </th:block>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <div class="moviePropSpaces">
                        <b th:text="#{lang.countries} + ':'"></b>
                        <th:block th:each="country: ${series.originCountry}">
                            <span th:text="${country}"></span>
                            <span> </span>
                        </th:block>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <div class="moviePropSpaces">
                        <b>
                            <span th:text="#{lang.release_date} + ':'"></span>
                        </b>
                        <th:block th:text='${#temporals.format(series.firstAirDate, "dd MMMM yyyy")}'/>
                    </div>
                </div>
            </div>

            <div class="row" th:if="${subscribed}">
                <div class="col-md-12">
                    <div class="moviePropSpaces">
                        <b>
                            <span th:text="#{lang.time_spent} + ':'"></span>
                        </b>

                        <span th:if="${hours != null}" th:text="${hours} +' ' + #{lang.hours}"></span>
                        <span th:text="${minutes} + ' ' + #{lang.minutes}"></span>
                        <!--<th:block th:text='${#temporals.format(series.firstAirDate, "dd MMMM yyyy")}'/>-->
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <div class="moviePropSpaces">
                        <b th:text="#{lang.overview} + ':'"></b>
                        <th:block th:text="${series.overview}"/>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-11">
                    <div class="moviePropSpaces">
                        <b th:text="#{lang.season} + ':'"></b>
                        <div class="owl-carousel owl-theme" id="owl-season">
                            <div th:each="season : ${series.seasons}"
                                 class="season shadow p-2 mb-3 mr-2 ml-2 rounded"
                                 th:style="${subscribed && (season.seasonNumber < currentSeason || (season.seasonNumber == currentSeason && seasonWatched)) ?
                                 'filter: grayscale(70%); opacity: 0.7;' : ''} + 'display: inline-block;'">

                                <a class="text-dark" style="text-decoration: none !important"
                                   th:href="'/series/' + ${series.id} + '/season/' + ${season.seasonNumber}">

                                    <img th:src="${season.posterPath}"
                                         style="height:250px;  width:175px;  object-fit: cover"
                                         th:onerror="'this.src=\'' + @{/img/no-image.png} + '\'; this.onerror=null'">
                                    <div th:text="${season.name}" class="pt-1"
                                         style="text-align: center; width: 100%"></div>
                                </a>
                            </div>

                            <div class="season shadow p-2 mb-3 mr-2 ml-2 rounded text-dark"
                                 th:if="${series.lastEpisodeToAir != null}"
                                 th:style="${subscribed && lastEpisodeWatched ? 'filter: grayscale(70%); opacity: 0.7;' : ''} + 'display: inline-block;'">

                                <a class="text-dark"
                                   style="text-decoration: none" th:href="'/series/' + ${series.id} + '/season/' + ${series.lastEpisodeToAir.seasonNumber} + '?episodeToOpen=' + ${series.lastEpisodeToAir.episodeNumber}">

                                    <img th:src="${series.lastEpisodeToAir.stillPath}"
                                         style="height:250px;  width:175px; object-fit: cover"
                                         th:onerror="'this.src=\'' + @{/img/no-image.png} + '\'; this.onerror=null'">
                                    <div th:text="#{lang.season} + ' ' + ${series.lastEpisodeToAir.seasonNumber + ' (' + series.lastEpisodeToAir.episodeNumber + ')'}"
                                         class="pt-1"
                                         style="text-align: center; width: 100%"></div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-1">
                    <div style="text-align: right; top: 40%; position: absolute">
                        <a href="javascript:void(0);" id="series-prev">
                            <i class="fas fa-2x fa-angle-left" style="color: #676767; padding-right: 15px;"></i>
                        </a>
                        <br>
                        <a href="javascript:void(0);" id="series-next">
                            <i class="fas fa-2x fa-angle-right" style="color: #676767; padding-right: 15px;"></i>
                        </a>
                    </div>
                </div>
            </div>


            <div class="row">
                <div class="col-11">
                    <div class="moviePropSpaces">
                        <b th:text="#{lang.actors} + ':'"></b>
                        <div class="owl-carousel owl-theme" id="owl-actors">
                            <div th:each="actor : ${series.credits.casts}"
                                 class="season shadow p-2 mb-3 mr-2 ml-2 rounded">

                                <a class="text-dark" style="text-decoration: none !important"
                                   th:href="'/people/' + ${actor.id}">

                                    <img th:src="${actor.profilePath}"
                                         style="height:250px;  width:175px;  object-fit: cover"
                                         th:onerror="'this.src=\'' + @{/img/no-image.png} + '\'; this.onerror=null'">
                                    <div th:text="${actor.name}" class="pt-1"
                                         style="text-align: center; width: 100%"></div>
                                    <div th:text="${actor.character}" class="pt-1"
                                         style="text-align: center; width: 100%; font-size: 14px"></div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-1">
                    <div style="text-align: right; top: 40%; position: absolute">
                        <a href="javascript:void(0);" id="actor-prev">
                            <i class="fas fa-2x fa-angle-left" style="color: #676767; padding-right: 15px;"></i>
                        </a>
                        <br>
                        <a href="javascript:void(0);" id="actor-next">
                            <i class="fas fa-2x fa-angle-right" style="color: #676767; padding-right: 15px;"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="back-to-top" style="display: inline;">
    <a style="pointer-events: none">
        <img th:src="@{/img/scroll-up-button.png}">
    </a>
</div>

<footer th:insert="embeded/footer.html"></footer>

<script th:inline="javascript">
    $(".subsForm").submit(subscribe);
    $(".unSubsForm").submit(unsubscribe);

    $(".season").hover(function () {
        $(this).find(".seasonImage").hide();
        $(this).find(".seasonHidden").show();
    }, function () {
        $(this).find(".seasonHidden").hide();
        $(this).find(".seasonImage").show();
    });

    owlSeason = $('#owl-season');
    owlActor = $('#owl-actors');

    owlActor.on('mousewheel', '.owl-stage', function (e) {
        if (e.originalEvent.deltaY > 30) {
            owlActor.trigger('next.owl');
        } else if (e.originalEvent.deltaY < -30) {
            owlActor.trigger('prev.owl');
        }
        e.preventDefault();
    });
    owlSeason.on('mousewheel', '.owl-stage', function (e) {
        if (e.originalEvent.deltaY > 30) {
            owlSeason.trigger('next.owl');
        } else if (e.originalEvent.deltaY < -30) {
            owlSeason.trigger('prev.owl');
        }
        e.preventDefault();
    });

    owlSeason.owlCarousel({
        loop: false,
        autoWidth: true
    });
    owlActor.owlCarousel({
        loop: false,
        autoWidth: true,
        dots:false
    });

    $('#series-next').click(function () {
        owlSeason.trigger('next.owl.carousel')
    });

    $('#series-prev').click(function () {
        owlSeason.trigger('prev.owl.carousel')
    });

    $('#actor-next').click(function () {
        owlActor.trigger('next.owl.carousel')
    });

    $('#actor-prev').click(function () {
        owlActor.trigger('prev.owl.carousel')
    });

</script>
</body>
</html>