<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sh="http://www.thymeleaf.org">
<head th:replace="embeded/header.html :: header(~{::title})">
    <title th:text="#{lang.title.search.series}"></title>
</head>
<body>
<nav th:insert="embeded/navbar.html"></nav>

<script th:inline="javascript" th:replace="embeded/subscriptions.html :: series_subscribe"></script>

<div class="container-fluid">
    <div class="container-fluid">
        <div class="row">
            <th:block th:each="serie, iStat : ${series}">

                <th:block th:if="${iStat.index % 5 == 0}">
                    <div class="offset-xl-1"></div>
                </th:block>
                <th:block th:if="${iStat.index > 0 && iStat.index % 5 == 0}">
                    <div class="offset-xl-1"></div>
                </th:block>

                <div class="col-xs-6 col-sm-5 col-md-4 col-lg-3 col-xl-2"
                     th:id="${serie.key.id}"
                     style="text-align: center; font-weight: bold; padding-bottom: 40px; padding-top: 40px;">
                    <div class="row" style="padding-bottom: 6px; height: 320px">
                        <div class="col-xl-12">
                            <a th:href="'/series/' + ${serie.key.id}">
                                <img class="rounded"
                                     th:onerror="'this.src=\'' + @{/img/no-image.png} + '\'; this.onerror=null'"
                                     th:src="${serie.key.posterPath}" style="height: 300px; max-width: 230px">
                            </a>
                        </div>
                    </div>
                    <div class="row" style="min-height: 70px; padding-bottom: 12px">
                        <div class="col-xl-12">
                            <a th:href="'/series/' + ${serie.key.id}"
                               style="color: #555555; text-decoration: none;">
                                <span th:text="${serie.key.name} + ' (' + ${serie.key.firstAirDate.getYear()} + ')'"></span>
                            </a>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xl-12">
                            <form th:if="${serie.value}" action="/series/unSubscribe" method="post" class="unSubsForm">
                                <input type="hidden" name="tmdbId" th:value="${serie.key.id}"/>
                                <input type="submit" th:value="#{lang.unsubscribe}" class="btn btn-danger"/>
                            </form>

                            <form th:unless="${serie.value}" action="/series/subscribe" method="post" class="subsForm">
                                <input type="hidden" name="tmdbId" th:value="${serie.key.id}"/>
                                <input type="submit" th:value="#{lang.subscribe}" class="btn btn-warning"/>
                            </form>
                        </div>
                    </div>
                </div>
            </th:block>
        </div>
    </div>

    <div th:replace="embeded/pagination.html :: pagination"></div>

    <div class="back-to-top" style="display: inline;">
        <a style="pointer-events: none">
            <img th:src="@{/img/scroll-up-button.png}">
        </a>
    </div>

</div>
<footer th:insert="embeded/footer.html"></footer>

<script th:inline="javascript">
    $(".subsForm").submit(subscribe);
    $(".unSubsForm").submit(unsubscribe);
</script>
</body>
</html>